body {
	margin: 0;
	
}

.container {
	position: relative;
	
	width: 1347px;
}

.W {
	font-family: serif;
	font-size: 50px;
	font-weight: 900px;
	position: relative;
	bottom: 15px;
	left: 10px;
}

	.header {
	position: relative;
	background-color: beige;
	color: black;
	padding-right: 10px;
	padding-top: 1px;
    padding-bottom: 0.1px;
	font-family: 'montserrat';
	font-size: 13px;
	height: 100px;
}

.categories {
	position: absolute;
	right: 40px;
	top: 20px;
}

.trending {
	position: absolute;
	right: 140px;
	top: 20px;
}

.popular {
	position: absolute;
	right: 240px;
	top: 20px;
}

.new {
	position: absolute;
	right: 340px;
	top: 20px;
}

.home {
	position: absolute;
	right: 420px;
	top: 20px;
}

.img-1 {
	padding-left: 10px;
	
}

.side {
	width: 21%;
	position: absolute;
	background-color: black;
	color: white;
	top: 101px;
	right: 90px;
	padding: 20px;
	font-size: 11.9px;
	font-family: 'montserrat';
	line-height: 27px;
	text-align: left;
	letter-spacing: 0.6px;
}

.future {
	width: 26%;
	font-size: 50px;
	font-family: sans-serif;
	font-weight: 900;
	line-height: 50px;
	position: relative;
	left: 15px;
	bottom: 40px;
	font-stretch: 50%;
}

.dive {
	font-family: 'Montserrat';
	font-size: 13px;
	width: 23%;
	position: relative;
	left: 490px;
	bottom: 240px;
	line-height: 25px;
}

.btn {
	position: relative;
	width: 10%;
	left: 490px;
	bottom: 230px;
}

.btn {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   color: #FFFFFF;
   font-family: 'Montserrat';
   font-size: 12px;
   letter-spacing: 4px;
   padding: 12px;

   
   background-color: #EF4242;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #1E62D0;
   border: solid #0059A0 1px;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   text-decoration: none;
}

hr {
	height: 0;
	background-color: honeydew;
}

.nuu {
	color: orange;
	font-size: 35px;
	font-family: 'Montserrat';
	padding-bottom: 10px;
}


h2 {
	color: lightgray;
	margin: 0;
}

.okay {
	position: relative;
	padding: 50px;
	padding-bottom: 100px;
}

.retro {
	float: left;
	position: absolute;
	padding-bottom: 0px;
	font-size: 13px;
	font-family: 'Montserrat';
	letter-spacing:px;
	text-align: left;

line-height: 1.4;
}


 
.gaming {
	position: relative;
	left: 860px;
	bottom: 250px;
}

.revi {
	position: relative;
	bottom: 250px;
	right: 50px;
}

.top {
	position: relative;
	bottom: 250px;
	left: 420px;
}

.img-5 {
	float: left;
	width: 25.33%;
	height: au20;
	margin: 20px;
}

.img-3 {
	float: left;
	width: 34.18%;
	height: auto;
	margin: 20px;
	letter-spacing: 19px;
}

.img-2 {
	float:left;
	width: 30.22%;
	height: auto;
	margin: 20px;
}

.what {
	padding-top: 11px;


}

.revit {
	padding-top: 1px;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 900;
}

.uno {
	padding-top: 12px;
	font-size: 30px;
}

.dia {
	padding-top: 12px;
	font-size: 30px;
}

.of {
	padding-top: -4px;
	font-weight: 900;
	font-family: sans-serif;
	font-size: 12px;
}

 .for {
	padding-top: 2px;
}

.tres {
	padding-top: 12px;
	font-size: 30px;
}

.the {
	padding-top: -4px;
	font-weight: 900;
	font-family: sans-serif;
	font-size: 12px;
}

.how {
	padding-top: 17px;
}

.attribution {
	text-align: center;
}